.stnd-typography {
  text-rendering: optimizeLegibility; /* kerning & ligatures */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-optical-sizing: auto;
  --normal-weight: var(--font-weight);
  --font-feature-settings: var(--font-feature);
  --font-variation-settings: var(--font-variation);
  --line-height-normal: var(--font-density);
  --heading-spacing: var(--line-height-normal);
  --inline-title-font: var(--font-header);
  --file-line-width: var(--font-line-width);
  /*--line-width: var(--font-line-width);*/
  --nav-item-weight: 400;
  --inline-title-size: var(
    --scale-3,
    calc(var(--font-size) * pow(var(--font-ratio), 3))
  );
  --h1-size: var(--scale-3, calc(var(--font-size) * pow(var(--font-ratio), 3)));
  --h2-size: var(--scale-2, calc(var(--font-size) * pow(var(--font-ratio), 2)));
  --h3-size: var(--scale, calc(var(--font-size) * pow(var(--font-ratio), 1)));
  --h4-size: var(--scale, calc(var(--font-size) * pow(var(--font-ratio), 1)));
  --h5-size: var(
    --scale-d2,
    calc(var(--font-size) * pow(var(--font-ratio), 0.5))
  );
  --h6-size: var(
    --scale-d2,
    calc(var(--font-size) * pow(var(--font-ratio), 0.5))
  );
  --font-smallest: var(
    --size-2xs,
    calc(var(--font-size) * pow(var(--font-ratio), -1.5))
  );
  --font-smaller: var(
    --size-xs,
    calc(var(--font-size) * pow(var(--font-ratio), -1))
  );
  --font-small: var(
    --size-sm,
    calc(var(--font-size) * pow(var(--font-ratio), -0.5))
  );
  --tag-size: var(--font-smaller);
  --tag-background: none;
  --tab-border-width: 0;
  --tab-border-color: transparent;
  --tag-padding-y: 0;
  --tag-padding-x: 0;
  --code-size: var(--font-small);
  --metadata-input-font-size: calc(
    var(--font-size) * pow(var(--font-ratio), 0)
  );
  --inline-title-weight: var(--font-header-weight);
  --h1-weight: var(--font-header-weight);
  --h2-weight: calc(var(--font-header-weight) * 1);
  --h3-weight: calc(var(--font-header-weight) * 1);
  --h4-weight: calc(var(--font-header-weight) * 1);
  --h5-weight: calc(var(--font-header-weight) * 1);
  --h6-weight: calc(var(--font-header-weight) * 1);
  --h1-font: var(--font-header);
  --h2-font: var(--font-header);
  --h3-font: var(--font-header);
  --h4-font: var(--font-header);
  --h5-font: var(--font-header);
  --h6-font: var(--font-header);
  font-feature-settings: var(--font-interface-feature);
  font-variation-settings: var(--font-interface-variation);
}
.stnd-typography .vertical-tab-header-group-title,
.stnd-typography .setting-item-heading .setting-item-name {
  font-family: var(--font-header);
  /*font-size: var(--font-ui-large);*/
}
.stnd-typography .markdown-preview-view,
.stnd-typography .markdown-reading-view {
  --h1-font: var(--font-header);
  --h2-font: var(--font-header);
  --h3-font: var(--font-header);
  --h4-font: var(--font-header);
  --h5-font: var(--font-header);
  --h6-font: var(--font-header);
}
.stnd-typography .markdown-preview-view,
.stnd-typography .markdown-reading-view,
.stnd-typography .markdown-source-view {
  font-weight: var(--normal-weight);
  font-feature-settings: var(--font-feature);
  font-variation-settings: var(--font-variation);
  --font-text-size: var(--font-size);
  /*letter-spacing: 0.01rem;*/
}
.stnd-typography .markdown-reading-view code,
.stnd-typography .HyperMD-codeblock {
  font-weight: 400;
  line-height: 1.5 !important;
}
.stnd-typography .cm-comment.cm-strong {
  color: color-mix(in oklch, inherit 50%, transparent);
}

.stnd-typography .tag {
  line-height: inherit;
  border: none;
  font-size: var(--font-small);
  font-family: var(--font-monospace);
  font-feature-settings: var(--font-monospace-feature);
  font-variation-settings: var(--font-monospace-variation);
  background: transparent;
  &:hover {
    border: 0;
    background: var(--background-secondary);
  }
}
.stnd-typography .markdown-reading-view sup {
  line-height: 0;
  font-feature-settings: "sups" on;
}
@media only screen and (max-width: 600px) {
  .stnd-typography {
    --font-ratio: 1.3 !important;
  }
}
.stnd-typography .inline-title,
.stnd-typography .inline-title:not([data-level]),
.stnd-typography .markdown-reading-view h1,
.stnd-typography .HyperMD-header-1 {
  font-size: var(--h1-size);
  letter-spacing: var(--font-header-letter-spacing, normal);
}
.stnd-typography .markdown-reading-view h2,
.stnd-typography .HyperMD-header-2 {
  font-size: var(--h2-size);
}
.stnd-typography .markdown-reading-view h3,
.stnd-typography .HyperMD-header-3 {
  font-size: var(--h3-size);
}
.stnd-typography .markdown-reading-view h4,
.stnd-typography .HyperMD-header-4 {
  font-size: var(--h4-size);
}
.stnd-typography .markdown-reading-view h5,
.stnd-typography .HyperMD-header-5 {
  font-size: var(--h5-size);
}
.stnd-typography .markdown-reading-view h6,
.stnd-typography .HyperMD-header-6 {
  font-size: var(--h6-size);
}
.stnd-typography .inline-title,
.stnd-typography .inline-title:not([data-level]),
.stnd-typography .markdown-reading-view h1,
.stnd-typography .HyperMD-header-1,
.stnd-typography .markdown-reading-view h2,
.stnd-typography .HyperMD-header-2,
.stnd-typography .markdown-reading-view h3,
.stnd-typography .HyperMD-header-3,
.stnd-typography .markdown-reading-view h4,
.stnd-typography .HyperMD-header-4,
.stnd-typography .markdown-reading-view h5,
.stnd-typography .HyperMD-header-5,
.stnd-typography .markdown-reading-view h6,
.stnd-typography .HyperMD-header-6 {
  font-feature-settings: var(--font-header-feature);
  font-variation-settings: var(--font-header-variation);
  letter-spacing: var(--font-header-letter-spacing, normal);
  line-height: var(--font-header-line-height, 1em); /*0.50em;*/
  text-wrap: balance;
  font-style: var(--font-header-style, normal);
  font-weight: var(--font-header-weight);
  font-family: var(--font-header);
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  hyphens: auto;
}
.stnd-typography .markdown-reading-view b,
.stnd-typography .markdown-reading-view strong,
.stnd-typography span.cm-strong,
.stnd-typography .cm-strong {
  font-weight: var(--bold-weight);
  font-variation-settings: "wght" var(--bold-weight);
}
.stnd-typography .markdown-reading-view h5,
.stnd-typography .HyperMD-header-5 {
  letter-spacing: 0.005em !important;
  font-weight: var(--h5-weight);
}
.stnd-typography .markdown-reading-view h6,
.stnd-typography .HyperMD-header-6 {
  letter-spacing: 0.005em !important;
}
.stnd-typography .markdown-reading-view code,
.stnd-typography .markdown-reading-view pre {
  font-feature-settings: var(--font-monospace-feature);
  font-variation-settings: var(--font-monospace-variation);
}
.stnd-typography .markdown-reading-view ol > li,
.stnd-typography .markdown-reading-view ul > li,
.stnd-typography .mod-cm6 .HyperMD-list-line.cm-line {
  line-height: max(var(--line-height-normal) * 0.75, var(--line-height-tight));
}

body {
  --color-accent-default: hsl(var(--accent-h) var(--accent-s) var(--accent-l));
  --color-bold-default: var(--color-foreground);
  --color-italic-default: var(--color-foreground);
}
